@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$progress-bar-width: 25%;
$progress-translateX: calc(100% * calc(100% / $progress-bar-width));
$serria-blue: #007bff;

@mixin nav-active() {
    color: #fff;
    border-left: 4px solid $serria-blue;
    background-color: rgba($color: #242424, $alpha: 0.5);
}

@mixin keyframes-marquee($name, $start, $end) {
    @-moz-keyframes #{$name} {
        0% {
            -moz-transform: translateX($start);
        }
        100% {
            -moz-transform: translateX($end);
        }
    }
    @-webkit-keyframes #{$name} {
        0% {
            -webkit-transform: translateX($start);
        }
        100% {
            -webkit-transform: translateX($end);
        }
    }
    @keyframes #{$name} {
        0% {
            transform: translateX($start);
        }
        100% {
            transform: translateX($end);
        }
    }
}

@include keyframes-marquee(scroll-left, 100%, -100%);

@include keyframes-marquee(scroll-right, -100%, $progress-translateX);
/**!
* Body
*/
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #262a2b;
    color: #cdc5b8;
}
::-webkit-scrollbar-corner {
    background-color: #1d1f20;
}
::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    &:hover {
        background-color: #7b7c7c;
    }
}
.visible-collapse {
    visibility: collapse;
}
/**!
* Header
*/
header {
    .navbar {
        background-color: #6351ce;
        .logo {
            height: 1.7rem;
        }
        .logo-name {
            margin-left: -4px;
        }
    }
    @include media-breakpoint-down('sm') {
        .navbar {
            .logo {
                height: 1.4rem;
            }
            .logo-name {
                font-size: 1rem;
            }
        }
        position: sticky;
        z-index: $zindex-sticky;
        top: 0;
    }
}
/**!
* Slide bar content
*/
#main-container,
.navbar-sidebar {
    min-height: calc(100vh - 6rem);
}
/**!
* Main content
*/
#main-container {
    .required {
        &::after {
            content:" *";
            color: red;
            font-weight: bold;
        }
    }
    .table-index {
        width: 5%;
    }
    .table-action {
        width: 12%;
    }
    #section-sidebar {
        width: 100%;
        background-color: #28353a;
        min-height: 100%;
        .sidebar {
            height: 73ex;
            .nav {
                .nav-item {
                    .nav-link {
                        color: #9d9d9d;
                        &:hover {
                            color: #fff;
                            background-color: #007bff;
                        }
                    }
                    &.active {
                        > .nav-link {
                            @include nav-active();
                        }
                    }
                    .dropdown-toggle {
                        &::after {
                            position: absolute;
                            right: 0.5rem;
                            top: 1rem;
                        }
                    }
                }
                .sub-menu {
                    .nav-link {
                        &.active {
                            @include nav-active();
                        }
                    }
                }
            }
        }
    }
    @include media-breakpoint-down('sm') {
        #section-sidebar {
            width: 60%;
        }
        .navbar-sidebar {
            position: fixed;
            z-index: $zindex-fixed;
            top: 50px;
            left: 0;
            bottom: 0;
            background-color: rgba($color: #080808, $alpha: 0.7);
        }
        .paginatior {
            .pager-info {
                display: none !important;
            }
        }
        .table-wrapper {
            .sticky-table {
                top: 52px;
            }
        }
    }
    .table {
        thead {
            th {
                white-space: nowrap;
                color: #fff;
            }
        }
        .table-action {
            white-space: nowrap;
        }
    }
    .sticky-table {
        .table {
            margin-bottom: 0 !important;
        }
        overflow: hidden;
    }
    .content-table {
        thead {
            tr {
                &:first-child {
                    visibility: collapse;
                }
            }
        }
    }
}
/**!
* Back to top
*/
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0.5rem 0.75rem;
    background-color: rgba($color: $serria-blue, $alpha: 0.75);
    display: none !important;
    color: #53bcff;
    i {
        cursor: pointer;
    }
    &.active {
        display: block !important;
    }
    &:hover {
        color: $white;
        text-decoration: none;
    }
}
/**!
* Custom scollbar
*/
.mCustomScrollbar {
    .mCSB_inside {
        & > .mCSB_container {
            margin-right: 0;
        }
    }
    &.mCS-autoHide {
        & > .mCustomScrollBox {
            &:hover {
                .mCSB_draggerContainer {
                    background-color: rgba($color: #fff, $alpha: 0.4);
                }
            }
        }
    }
    .mCSB_scrollTools {
		width: 6px;
		right: 2px;
        .mCSB_dragger {
            .mCSB_dragger_bar {
                width: 6px;
                margin: 3px 0;
            }
        }
        .mCSB_draggerRail {
            width: 6px;
            margin: 3px 0;
        }
    }
    &.mCS-inset {
        &.mCSB_scrollTools {
            .mCSB_dragger {
                .mCSB_dragger_bar {
                    width: 6px;
                }
            }
            .mCSB_draggerRail {
                width: 6px;
            }
        }
    }
}

/**!
* Marquee
*/
.marquee {
    overflow: hidden;
    position: relative;
    width: 100%;
}
.marquee-bar {
    position: absolute;
    height: 100%;
    width: $progress-bar-width !important;
    text-align: center;
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    -moz-animation: scroll-right 5s linear infinite;
    -webkit-animation: scroll-right 5s linear infinite;
    animation: scroll-right 5s linear infinite;
}
