@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

$bg-color: #f5f8fa;
$bg-color-hover: #eef3f7;
$header-height: 55px;
$serria-blue: #007bff;

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #262a2b;
    color: #cdc5b8;
}
::-webkit-scrollbar-corner {
    background-color: #1d1f20;
}
::-webkit-scrollbar-thumb {
    background-color: #a0a0a0;
    &:hover {
        background-color: #7b7c7c;
    }
}
.navbar .logo {
    width: 5rem;
}
.aside {
    background-color: $bg-color;
    @include media-breakpoint-down('sm') {
        position: fixed;
        top: $header-height;
        bottom: 0;
        background-color: rgba($color: #080808, $alpha: 0.7);
        z-index: $zindex-fixed;
    }
    .sidebar {
        background-color: $bg-color;
        position: fixed;
        height: calc(100vh - $header-height);
        overflow-y: auto;
        top: $header-height;
        width: calc(100% / 12 * 8);
        .nav {
            .nav-heading {
                .nav-item {
                    a.nav-link {
                        color: #727399;
                        &.active,
                        &:hover {
                            background-color: $bg-color-hover;
                            color: #000;
                        }
                    }
                }
            }
        }
        .mCSB_inside {
            &>.mCSB_container {
                margin-right: 10px;
            }
            .mCSB_scrollTools {
                width: 10px;
            }
        }
    }
}
.main-content {
    min-height: calc(100vh - $header-height);
    .table {
        thead th,
        .table-action {
            white-space: nowrap;
        }
        .table-action {
            min-width: 12%;
        }
    }
    .breadcrumb {
        margin-bottom: 0;
        background: none;
        padding: 0;
        .breadcrumb-item {
            +.breadcrumb-item {
                padding-left: .25rem;
            }
            &::before {
                padding-right: .25rem;
            }
        }
    }
    h4 {
        small {
            font-size: 60%;
        }
    }
}
.table-wrapper {
    .sticky-table {
        top: $header-height;
        overflow-x: hidden;
        table {
            margin-bottom: 0;
        }
    }
    .content-table {
        thead {
            tr {
                &:first-child {
                    visibility: collapse;
                }
            }
        }
        td {
            padding: .5rem;
        }
    }
}
form {
    .required {
        &::after {
            content:" *";
            color: red;
            font-weight: bold;
        }
    }
}
#popupToast {
    z-index: 1060;
    .toast {
        background-color: #fff;
    }
}
.modal {
    .frm-detail {
        .form-group {
            margin-bottom: 0;
        }
    }
}
/**!
* Back to top
*/
.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    padding: 0.5rem 0.75rem;
    background-color: rgba($color: $serria-blue, $alpha: 0.75);
    display: none !important;
    color: #53bcff;
    i {
        cursor: pointer;
    }
    &.active {
        display: block !important;
    }
    &:hover {
        color: $white;
        text-decoration: none;
    }
}
