body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer{
   margin-top: auto;
}
.wrapper {
    min-height: 100vh;
}

#section-sidebar {
    background: #28353a;
}
.mCSB_container.mCS_no_scrollbar_y.mCS_y_hidden{
    margin-right: 17px !important;
}
.mCSB_inside > .mCSB_container {
    margin-right: 17px !important;
}
#sidebar {
    max-height:70%;;
    min-width: 250px;
    max-width: 250px;
    /*color: #9ca6ac;*/
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
}

#sidebar ul li a {
    color: #1A1A1A;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar.active .custom-menu {
    margin-right: -50px;
}

#sidebar h1 {
    margin-bottom: 20px;
    font-weight: 700;
}

#sidebar h1 .logo {
    color: #fff;
}

#sidebar ul.components {
    padding: 0;
}

#sidebar ul a {
    text-decoration: none;
}

#sidebar ul li {
    font-size: 16px;
}

#sidebar ul li > ul {
    margin-left: 10px;
}

#sidebar ul li > ul li {
    font-size: 14px;
}

#sidebar ul li a {
    padding: 10px 10px;
    display: block;

    color: rgba(255, 255, 255, 0.8);
    /*border-bottom: 1px solid #f8f9fa;*/
}

#sidebar .parrent-active{
    /*border-bottom: 1px solid #f8f9fa;*/
    /*background:#242f34 !important;*/
}

#sidebar ul li .sub-menu {
  opacity: 0.8;
}

#sidebar ul li .sub-menu:hover {
    opacity: 1;
    background: #242f34;
    /*border-left: 1px solid #eff0f3;*/
}

.sub-menu-active {
    background: #242f34;
    border-left: 4px solid #4caf50 !important;
}

#sidebar ul li.active > a {
    padding: 10px 17px;
    background: transparent;
    color: #fff;
}


#sidebar ul li.active > a:hover {

    /*background: #F9F9FC;*/
    background: #4caf50;
    color: #fff;
}

@media (max-width: 991.98px) {
    #sidebar {
        margin-left: -250px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #sidebar .custom-menu {
        margin-right: -50px !important;
        top: 10px !important;
    }
}

#sidebar .custom-menu {
    display: inline-block;
    position: absolute;
    top: 20px;
    right: 0;
    margin-right: -20px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

@media (prefers-reduced-motion: reduce) {
    #sidebar .custom-menu {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }
}

#sidebar .custom-menu .btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

#sidebar .custom-menu .btn.btn-primary {
    background: #6749b9;
    border-color: #6749b9;
}

#sidebar .custom-menu .btn.btn-primary:hover,
#sidebar .custom-menu .btn.btn-primary:focus {
    background: #6749b9 !important;
    border-color: #6749b9 !important;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media (max-width: 991.98px) {
    #sidebarCollapse span {
        display: none;
    }
}

#content {
    width: 100%;
    padding: 0;
    min-height: 70vh;

    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

